name: CI-CD pipeline
on: 
    push:
      branches: [ main ]
    workflow_dispatch:
               
jobs:
    build: 
        runs-on: ubuntu-latest

        steps:
            - name: Checkout action
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 8.0.x
            - name: Restore
              run : dotnet restore

            - name: Build
              run: dotnet build --no-restore
            
            - name: Test
              run: dotnet test --no-build --verbosity normal
            - name: Publish
              run: |
               dotnet publish -c Release -o publish
               ls publish
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with: 
                name: EmployeeManagement
                path: publish
    deploy:
        runs-on: self-hosted
        needs: build
        
        steps: 
            - name: Download Artifact
              uses: actions/download-artifact@v4
              with:
                name: EmployeeManagement
                path: downloaded
            
            - name: Stop Existingapp if its running
              run: |
                $process = Get-Process dotnet -ErrorAction SilentlyContinue
                if($process)
                {
                  $process | Stop-Process -Force
                }
            - name: Deploy to local Folder
              run: |
               if(Test-Path "C:\DeployApp"){
                 Remove-Item -Recurse -Force C:\DeployApp
               }

               New-Item -ItemType Directory -Path C:\DeployApp
               Copy-Item -Recurse downloaded\* C:\DeployApp
            - name: Start-Application
              run: |
                 Start-Process "dotnet" "C:\DeployApp\EmployeeManagement.API.dll --urls= http://localhost:5050"
